section{
    display: inline;
   
}
#circulo1{
    margin-top: 250px;
    width: 30px;
    height: 30px;
    margin-left: 400px;
    border-radius: 100%;
    border: 1px solid black;
}
#circulo2{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    border-radius: 100%;
    border: 1px solid black;
}
#circulo3{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    border-radius: 100%;
    border: 1px solid black;
}
#circulo4{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    border-radius: 100%;
    border: 1px solid black;
}
#circulo5{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    border-radius: 100%;
    border: 1px solid black;
}
#circulo6{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    border-radius: 100%;
    border: 1px solid black;
}
